.ws {
    white-space: pre-line!important;
  }

.icon-img {
    left: 250px;
    background: url('../inside/highres_271050387-crop.png') no-repeat center / 70%;
}

.icon-apiml {
  left: 250px;
  background: url('../inside/api-catalog-logo.png') no-repeat center / 70%;
}

.icon-jobs {
  left: 250px;
  background: url('../inside/business-job-search-symbol.svg') no-repeat center / 70%;
}